/* Стили для страницы авторизации */

section {
    max-width: 400px;
    margin: auto;
    padding: 40px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%; /* Добавляем ширину 100% */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.errmsg {
    color: #ff0000;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.p {
    text-align: center;
    margin-top: 20px;
}

.line {
    display: inline-block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.line a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.line a:hover {
    color: #0056b3;
}
