/* Стили для страницы с информацией о пользователе */
.div {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.label {
    display: block;
    margin-bottom: 10px;
}

.input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensure padding and border are included in width */
    margin-bottom: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
}

.button:hover {
    background-color: #0056b3;
}
